.footer {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  padding: 60px 0 100px;
}

.footer__container {
}

.footer__list-nav {
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 100px;
}

.footer__nav-item {
}

.footer__subtitle {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.3;
}

.footer__list-vertical {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  padding-top: 27px;
}

.footer__item {
}

.footer__link {
  font-weight: 300;
}

.footer__list-contacts {
  display: flex;
  gap: 10px 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.footer__social-link {
  display: block;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.footer__social-link:hover {
  opacity: .5;
}

.footer__social-link_insta {
}

.footer__social-link_vk {
}

.footer__social-link_fb {
}

.footer__agreement {
  display: block;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
}

.footer__link, .footer__agreement {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__link:hover, .footer__agreement:hover {
  color: #a4ee08;
}

/* ----------------------------------------------------------- */

@media (max-width: 1200px) {
  .footer {
    padding-bottom: 72px;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 36px 0 58px;
  }

  .footer__list-nav {
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    gap: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 760px) {
  .footer__subtitle {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
  }

  .footer__subtitle::after {
    content: "";
    display: block;
    width: 14px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 8L0.937822 0.5H13.0622L7 8Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    will-change: transform;
    -webkit-transition: transform 0.24s ease-in-out;
    -moz-transition: transform 0.24s ease-in-out;
    -ms-transition: transform 0.24s ease-in-out;
    -o-transition: transform 0.24s ease-in-out;
    transition: transform 0.24s ease-in-out;
  }

  .footer__list-vertical {
    height: 0;
    overflow: hidden;
    padding-top: 0;
    /*will-change: height;
    -webkit-transition: height 0.24s ease-in-out allow-discrete;
    -moz-transition: height 0.24s ease-in-out allow-discrete;
    -ms-transition: height 0.24s ease-in-out allow-discrete;
    -o-transition: height 0.24s ease-in-out allow-discrete;
    transition: height 0.24s ease-in-out allow-discrete;*/
  }

  .footer__nav-item_active .footer__subtitle::after {
    transform: rotate(-180deg);
  }

  .footer__nav-item_active .footer__list-vertical {
    height: auto;
    padding-top: 15px;
  }

  .footer__agreement {
    font-size: 14px;
  }

  .footer__link {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .footer__list-contacts {
    justify-content: flex-start;
    gap: 30px;
  }

  .footer__list-nav {
    grid-template-columns: auto;
    gap: 30px;
    margin-bottom: 40px;
    padding: 40px 0 30px;
    font-size: 14px;
  }

  .footer__agreement {
    display: inline;
    text-align: left;
  }
}
