.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  overflow-y: auto;
  z-index: 999;
  display: none;
}

.overlay_active {
  display: flex;
}

.overlay__modal {
  position: relative;
  margin: auto;
  background-color: var(--main-bg-color);
  cursor: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 80px 150px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  max-width: 1180px;
}

/*
.overlay__button-close {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
*/
.overlay__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 36px;
  height: 36px;
  font-weight: 300;
  font-size: 42px;
  line-height: 0;
  color: var(--main-color);
  opacity: .4;
  -webkit-transition: opacity 0.24s ease-in-out, background-color 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out, background-color 0.24s ease-in-out;
  -ms-transition: opacity 0.24s ease-in-out, background-color 0.24s ease-in-out;
  -o-transition: opacity 0.24s ease-in-out, background-color 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out, background-color 0.24s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.overlay__button-close:hover {
  opacity: 1;
  background-color: #eee;
}

/* ------------------------------------------------- */

@media (max-width: 1200px) {
  .overlay__modal {
    padding: 80px 70px;

    max-width: 800px;
  }
}

@media (max-width: 1024px) {
  .overlay__modal {
    padding: 50px 30px;

    max-width: 580px;
  }
  .overlay__button-close {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 640px) {
  .overlay__modal {
    padding: 40px 20px;

    max-width: 280px;
  }
  .overlay__button-close {
    top: 10px;
    right: 15px;
  }
}